:root {
  --default: #1e293b;
  --default-bg: #1e293bcc;
  --primary: #1051ba;
  --primary-bg: #1051bacc;
  --success: #10b981;
  --success-bg: #10b981cc;
  --error: #ef4444;
  --error-bg: #ef4444cc;
  --warning: #f59e0b;
  --warning-bg: #f59e0bcc;
}

* {
  padding: 0;
  margin: 0;
  transition: all 0.1s linear;
  box-sizing: border-box;
  outline: none;
  border: none;
  font: inherit;
}

.z-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.z-wrap .z-button {
  margin-bottom: 10px;
}
.z-wrap .z-button:nth-child(n+2) {
  margin-left: 15px;
}
.z-wrap label {
  margin-right: 10px;
  white-space: nowrap;
}

.z-wrap .z-item {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.z-button {
  background: #ffffff;
  border: 2px solid var(--default);
  color: var(--default);
  box-shadow: 0.2rem 0.2rem 0 0 var(--default);
  padding: 4px 10px;
  cursor: pointer;
}
.z-button:hover {
  background: var(--default);
  color: #fff;
  box-shadow: 0.2rem 0.2rem 0 0 var(--default-bg);
}
.z-button.primary {
  box-shadow: 0.2rem 0.2rem 0 0 var(--primary);
  border-color: var(--primary);
  color: var(--primary);
}
.z-button.primary:hover {
  background: var(--primary);
  color: #fff;
  box-shadow: 0.2rem 0.2rem 0 0 var(--primary-bg);
}
.z-button.success {
  box-shadow: 0.2rem 0.2rem 0 0 var(--success);
  border-color: var(--success);
  color: var(--success);
}
.z-button.success:hover {
  background: var(--success);
  color: #fff;
  box-shadow: 0.2rem 0.2rem 0 0 var(--success-bg);
}
.z-button.error {
  box-shadow: 0.2rem 0.2rem 0 0 var(--error);
  border-color: var(--error);
  color: var(--error);
}
.z-button.error:hover {
  background: var(--error);
  color: #fff;
  box-shadow: 0.2rem 0.2rem 0 0 var(--error-bg);
}
.z-button.warning {
  box-shadow: 0.2rem 0.2rem 0 0 var(--warning);
  border-color: var(--warning);
  color: var(--warning);
}
.z-button.warning:hover {
  background: var(--warning);
  color: #fff;
  box-shadow: 0.2rem 0.2rem 0 0 var(--warning-bg);
}

.z-input {
  background: #ffffff;
  border: 2px solid var(--default);
  color: var(--default);
  box-shadow: 0.2rem 0.2rem 0 0 var(--default);
  padding: 2px 10px;
  width: 240px;
}

.z-wrap .z-item:nth-child(n+2) {
  margin-left: 15px;
}

.z-item .z-input {
  width: 100%;
}